*{
 margin: 0;  
 padding: 0; 
 box-sizing: border-box;
}

body{
 /* background: linear-gradient(135deg,  #eaf2ef , #912f56); */
 background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height:100vh;
}

.container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  transition:  0.5s ease;
  width: 25%;
  height: 54%;
  margin: 11% 37%;
}

.bulb{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

img{
    height: 260px;
}

#btn{ 
 display: flex;
 margin: 0 46%;
gap: 20px;
}

#off{
width: 94px;
height: 30px;
    text-transform: uppercase;
 border: none; 
font-size: 15px;
font-weight: 800;
background-color: rgb(255, 46, 46);
color: rgb(255, 240, 240);
border-radius: 5px;
cursor: pointer;
}

#on{
    width: 94px;
height: 30px;
 text-transform: uppercase;
  border: none; 
  font-size: 15px;
font-weight: 800;
background-color: rgb(70, 206, 70);
color: rgb(255, 240, 240);
border-radius: 5px;
cursor: pointer;

}

button:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

  .glow {
  filter: drop-shadow(0 0 25px #f9e65c)
          drop-shadow(0 0 50px #f7d94c)
          drop-shadow(0 0 100px #f5c94a);
  transform: scale(1.05);
}



